*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    /*font-family: 'Yellowtail', cursive;*/
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.common_btn{
    display: inline-block;
    padding: 8px 50px;
    font-size: 14px;
    font-weight: 600;
    color:rgba(255, 166, 0, 0.993);
    background:#ffff;
    text-transform: capitalize;
    transition: all 0.3s;
}
.common_btn:hover{
    background:rgba(255, 166, 0, 0.993);
    color:#ffff;
}
.common_btn i{
    margin-left: 8px;
}
.subheading{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Yellowtail', cursive;
    color: #14B9F1;
}
.para{
    font-size: 18px;
    font-weight: 400;
    color:#222;
    line-height: 140%;
}
#navber{
    background-color:#222222b4;
    width: 1920px;
    padding:20px 0px;
    position: sticky;
    left: 0;
    top: 0;
    z-index:111;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.navworpper{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.logo{
    width: 20%;
}
.logo img{
    width: 80px;
    height: 30px;
}
.menu{
    width: 60%;
}
.menu > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}
.menu ul li a{
    font-size: 18px;
    font-weight: 600;
    color:#ffff;
    cursor: pointer;
    border: none;
    text-transform: capitalize;
    transition: color 0.3s;
}
.menu ul li a:hover{
    color:rgba(255, 145, 0, 0.918);
    border:none;
}
.menu ul li a i{
    margin-left: 8px;
}
.dropdown {
    position: relative;
}
.angledrop{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    padding: 15px;
    visibility: hidden;
}
.angledrop  li{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.angledrop li{
    text-align: center;
}
.nav_btn{
    width: 20%;
    text-align: right;
}
#banner{
    background: linear-gradient(rgb(0,0,0,0.7),rgb(0, 0, 0,0.7)),url(../imags/amajon.jpg);
    width: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px 0 154px 0;
}
.banner_wrapper h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 150%;
    color: #ffff;
    text-transform: capitalize;
    width: 820px;
    margin: 0 auto;
    text-align: center;
}
.banner_btn{
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 20px;
    margin: 0 auto;
}
#bannertwo{
    padding: 72px 0 85px 0;
    background-color:#fff;
    width: 1920px;
}
.banner_wrappertwo{
    display: flex;
    column-gap: 24px;
    align-items: center;
}
.banner_content{
    width:648px;
}
.banner_content h2{
    font-size: 54px;
    font-weight: 700;
    color: #222;
    line-height: 150%;
    padding: 5px 0 62px 0;
    position: relative;
}
.banner_content h2::after{
    position: absolute;
    content: "";
    left:0;
    bottom: 27px;
    width: 84px;
    height: 2px;
    background-color: #A0A0A0;
}
.banner_content .round{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_content ul{
    margin: 40px;
    display: flex;
    row-gap: 30px;
    flex-direction: column;
}
.banner_content ul li {
    display: flex;
    column-gap: 15px;
    align-items: center;
}
.banner_content a{
    margin-left: 40px;
    text-transform: capitalize;
    border: 1px solid #222;
    transition: all 0.3s;
}
.banner_content a:hover{
    border: none;
}
.pikcher{
    width: 648px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pikcher .picher_box{
    width: 280px;
    height: 620px;
    overflow: hidden;
    border-radius: 5px;
}
.pikcher .picher_box:last-child{
    height: 520px;
}
.pikcher .picher_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#bannerthree{
    background: #fff;
    width: 1920px;
    height: 400px;
    
}
.numberbox{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
 .number{
    background:url(../imags/ximage3.png);
    width:312px;
    height: 220px;
    padding: 40px 84px 76px 84px;
}
.numberbox.number{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.number h2{
    font-size: 74px;
    font-weight: 700;
    text-transform: capitalize;
}
.number p{
    width: 200px;
    padding-top: 10px;
}
#bannerfour{
    background: #0C3543;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1584px;
    padding-top: 30px;
}
.about_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.banner_contentone h3{
    color: #FF9600;
}
.banner_contentone h2{
    font-size: 54px;
    font-weight: 700;
    width: 394px;
    height: 140px;
    padding-bottom: 30px;
    color: #fff;
    line-height: 150%;
    position: relative;
}
.banner_contentone h2::after{
    position: absolute;
    content: "";
    left:0;
    bottom: -24px;
    width: 84px;
    height: 2px;
    background-color: #A0A0A0;
}
.banner_contentone p {
    width: 638px;
    height: 69px;
    color: #ffff;
}
.picher_warp{
    width: 1320px;
    height: 1070px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 91px;
    column-gap:24px ;
    row-gap: 50px;
}
.picher_boxtow{
    width: 400px;
    height: 510px;
    background-color:#0F4152;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
}
.picher_boxtwo img{
    width: 424px;
    height: 85%;
    object-fit: cover;
    border-radius: 8px;
}
.picher_boxtow h4{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding-top: 15px;
}
.picher_boxtow p{
    padding-top: 15px;
    color: #fff;
}
.subheadingtwo{
    margin:138px auto;
    width: 872px;
    height: 200px;
}
.subheadingtwo h2{
    font-size: 74px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-family: 'Yellowtail', cursive;
}
#bannerfive{
    background-color: #FF9600;
    height: 920px;
    width: 1920px;
    padding-top: 106px;
    position: relative;
}
#bannerfive img{
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: -40px;
}
.about_contenttwo{
    text-align: center;
}
.about_contenttwo img{
    width: 101px;
    height: 75px;
}
.about_contenttwo h2{
    font-size: 54px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
    width: 1298px;
    height: 140px;
}
.about_contenttwo p{
    font-size: 30px;
    font-weight: 700;
    line-height: 140%;
    color: #fff;
    width: 679px;
    height: 49px;
    text-align: center;
    padding-top: 15px;
    margin: 0 auto;
}
.banner_btntwo{
    padding-top: 45px;
}
.about_contenttwo a{
    background-color:transparent;
    color: #fff;
    border:1px solid #fff;
}
.about_contenttwo a:hover{
    background-color: #000;
    border: none;
    cursor: pointer;
}
.about_contenttwo i{
    margin-right: 8px;
}
.picher_warptwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:50px;
}
.picher_boxthree{
    background: url(../imags/saikel.jpg);
    width: 370px;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.picher_boxthree ::after{
    position: absolute;
    content: "";
    left:20px;
    top: 400px;
    width:90%;
    height: 2px;
    background-color: #A0A0A0;
}
.picher_boxthree h2{
    font-size: 52px;
    color: #fff;
    margin-top:50%;
    text-align: center;
}
.picher_boxthree p{
    font-size: 30px;
    color: #fff;
    margin-top:5% ;
    text-align: center;
}
.picher_boxfour{
    background: url(../imags/sketing.webp);
    width: 370px;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.picher_boxfour ::after{
    position: absolute;
    content: "";
    left:20px;
    top: 400px;
    width:90%;
    height: 2px;
    background-color: #A0A0A0;
}
.picher_boxfour h2{
    font-size: 52px;
    color: #fff;
    margin-top:50%;
    text-align: center;
}
.picher_boxfour p{
    font-size: 30px;
    color: #fff;
    margin-top:5% ;
    text-align: center;
}
.picher_boxfive{
    background: url(../imags/saikel.jpg);
    width: 370px;
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.picher_boxfive ::after{
    position: absolute;
    content: "";
    left:20px;
    top: 400px;
    width:90%;
    height: 2px;
    background-color: #A0A0A0;
}
.picher_boxfive h2{
    font-size: 52px;
    color: #fff;
    margin-top:50%;
    text-align: center;
}
.picher_boxfive p{
    font-size: 30px;
    color: #fff;
    margin-top:5% ;
    text-align: center;
}
#bannersix{
    width: 1920px;
    height:570px;
    background: #ffff;
}
.about_contenthree{
    text-align: center;
    margin-top: 192px;
}
.about_contenthree h2{
    font-size: 54px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    color: #000;
}
.icons{
    display: flex;
    justify-content:space-evenly;
    margin-top:54px;
    text-align: center;
}
.subicons{
    width: 312px;
    height: 400px;
    background-color: #ffff;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.subicons h4{
    font-size: 24px;
    font-weight: 700;
    color: #000;
    line-height: 140%;
    margin-top: 100px;
}
.subicons p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 140%;
}
.nanoicons{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    background: #A0A0A0;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: relative;
}
.nanoicons i{
    font-size: 20px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
#bannerseven{
    width: 1920px;
    height: 1115px;
    background: #F7F7F7;
    padding-top: 101px;
}
.subcontainer{
    display: flex;
    justify-content: space-between;
    column-gap: 147px;
}
.subcontainer .about_contentfour h3{
    color: #FF9600;
    font-family: 'Yellowtail', cursive;
    line-height: 140%;
    width: 200px;
    height: 41px;
}
.subcontainer .about_contentfour h2{
    font-size: 54px;
    font-weight: 700;
    line-height: 150%;
    width: 407px;
    height: 140px;
    position: relative;
}
.subcontainer .about_contentfour h2::after{
    position: absolute;
    content: "";
    left:0;
    bottom: -24px;
    width: 84px;
    height: 2px;
    background-color: #A0A0A0;
}
.subcontainer .about_contentfour p{
    width: 638px;
    height: 69px;
}
.about_contentfive{
    display: flex;
    justify-content: space-between;
    margin-top: 101px;
    text-align: center;
    align-items: center;
    column-gap: 24px;
}
.about_contentfive .subabaout_container{
    width: 424px;
    height: 600px;
    border-radius: 10px;
    background:#fff;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.about_contentfive .subabaout_container img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.about_contentfive .subabaout_container h4{
    width: 315px;
    height: 7px;
    margin-top: 21px;
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    text-align: end;
}
.about_contentfive .subabaout_container p{
    width: 365px;
    height: 46px;
    line-height: 140%;
    margin-top: 80px;
    text-align: center;
}
.subabaout_container a{
    color: #000;
    font-size: 18px;
    text-align: center;
    border-top: 1px solid #A0A0A0;
    width: 100%;
    position: absolute;
    left:0;
    bottom: 40px;
    cursor: pointer;
}
.subabaout_container a:hover{
    color: #FF9600;
}
#bannereight{
    width: 1920px;
    height: 355px;
    background: #ffff;
    padding: 45px 0 45px 0;
}
.picher_warpthree{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.picher_boxsix{
    width: 264px;
    height: 264px;
    background: #ffff;
}
.picher_boxsix img{
    width: 264px;
    height: 264px;
    object-fit: cover;
}
#bannernine{
    width: 1920px;
    height: 705px;
}
.banner_contentthree{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.banner_contentthree .picher_boxseven{
    width: 660.83px;
    height: 705px;
    overflow: hidden;
}
.banner_contentthree .picher_boxseven img{
    width: 660.83px;
    height: 705px;
    object-fit: cover;
}
.picher_boxeight{
    padding: 80px 0 0 80px;
    background: #0C3543;
    position: relative;
}
.banner_contentthree .picher_boxeight img{
    width: 252px;
    height: 75px;
}
.picher_boxnine{
    display: flex;
    justify-content: space-between;
    column-gap: 58px;
}
.picher_boxnine .picher_boxten{
    padding-top: 50px;
}
.picher_boxnine .picher_boxten p{
    width:569px ;
    height:69px ;
    color: #fff;
}
.banner_line{
    content: "";
    position: absolute;
    left: 75px;
    top: 50%;
    width: 700px;
    height: 1px;
    background-color: #A0A0A0;
}
.picher_boxaliven{
    display: flex;
    justify-content: left;
    column-gap: 50px;
    padding-top: 100px;
}
.picher_boxtwoal h4{
    font-size: 35px;
    font-weight: 700;
    color: #000;
    position: relative;
}
.picher_boxtwoal h4::after{
    position: absolute;
    content: "";
    left:13px;
    top: 47px;
    width: 74px;
    height: 2px;
    background-color: #A0A0A0;
}
.picher_boxtherthin p{
    color: #000;
    line-height:20%;
}
.picher_boxeight p{
    padding-top: 30px;
    color: #000;
}